@font-face {
    font-family: "Roboto";
    src: url(./fonts/Roboto-VariableFont_wdth\,wght.ttf) format("truetype");
}

@font-face {
    font-family: "RobotoItalic";
    src: url(./fonts/Roboto-Italic-VariableFont_wdth\,wght.ttf) format("truetype");
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
}

body {

}