@font-face {
    font-family: "Roboto";
    src: url(./fonts/Roboto-VariableFont_wdth\,wght.ttf) format("truetype");
}

@font-face {
    font-family: "RobotoItalic";
    src: url(./fonts/Roboto-Italic-VariableFont_wdth\,wght.ttf) format("truetype");
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
}

.header-style,
.hero-style,
.footer-style {
    background-color: #1F2937;
    color: white;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

.header-style .wrapper {
    justify-content: space-between;
    align-items: flex-start;
    height: 150px;
}

.logo {
    font-size:xx-large;
    font-weight:bold;
}

.navlink {
    gap: 24px;
    background-color: #1F2937;
}

.navlink a {
    color: rgb(219, 219, 219);
    text-decoration: none;
    font-weight: 400;
    font-size: large;
}

.navlink a:hover {
    color: rgb(189, 189, 189);
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.bred {border: 2px solid red;}
.bgreen {border: 2px solid green;}
.bblue {border: 2px solid blue;}
.bpink {border: 2px solid rgb(255, 88, 116);}
.borange {border: 2px solid orange;}