*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
}

.header-style,
.hero-style,
.footer-style {
    background-color: #1F2937;
    color: white;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

.header-style .wrapper {
    justify-content: space-between;
    align-items: center;
    height: fit-content;
}

.logo {
    font-size:xx-large;
    font-weight:bold;
}

.navlink {
    gap: 24px;
    background-color: #1F2937;
}

.navlink a {
    color:#E5E7EB;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
}

.navlink a:hover {
    color: #bbbbbb;
}

.hero-style .wrapper {
    height:fit-content;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    padding-top: 3em;
    padding-bottom: 3em;
}

.hero-left,
.hero-right {
    flex: 1;
}

.hero-right {
    width: 50%;
    height: auto;
    flex: 1 1 700px;
    max-width: 700px;
}

.hero-left {
    padding: 2em 0;
    padding-right: 2em;
}

.img {
    width: 100%;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.button,
.button-alt {
    margin: 1em 0;
    padding:0.6em 1em;
    background-color: #3882F6;
    color: white;
    width: 130px;
    border-radius: 10px;
    font-size: medium;
    font-weight: 600;
    box-shadow: none;
    border: none;
}

button:hover {
    background-color: #1462e0;
}

.illustration .wrapper {
    align-items: center;
    margin-bottom: 50px;
}

.illustration-title {
    font-size: 36px;
    color:#1F2937;
    font-weight: 900;
    padding: 0.5em;
}

.boxes-section {
    width: 1200px;
    height: auto;
    justify-content: center;
}

.boxes-section img {
    width: 100%;
    height: auto;
}

.box {
    margin: 24px;
    flex: 0 1 15%;
}

.img-box {
    border: 4px solid #3882F6;
    border-radius: 10px ;
    padding: 8px;
}

.box .subtext-box {
    padding:8px;
    text-align: center;
    color: #272727;
}

.quote-section {
    background-color: #E5E7EB;
}

.quote-section .wrapper {
    justify-content: center;
}

.quote-box {
    flex:0 1 75%;
    padding:70px 0;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}

.author {
    margin-left: auto;
    color:#1F2937;
    font-size: 24px;
    font-weight: 700;
}

.cta-section .wrapper {
    justify-content: center;
}

.wrapper .cta-box {
    flex: 1 1 auto;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    padding: 40px 120px;
}

.cta-box {
    justify-content: space-between;
    align-items: center;
}

.left-side-cta {
    flex: 0 1 75%;
}

div .signup {
    flex: 0 1 25%
}

.cta-title {
    font-size: 24px;
    font-weight: 500;
}

.cta-text {
    font-weight: 300;
    font-size: 18px;
}

.wrapper > div {
    flex:0 1 50%;
    justify-content: space-between;
}

.button-alt {
    align-self: center;
    font-size: 20px;
    font-weight: 500;
    border: 2px solid white;
    padding: 0.3em;
}

.footer-style {
    justify-content: center;
    align-items: center;
    height: 130px;
}

.footer {
    flex:0 0 auto;
    align-self: center;
    font-size: large;
}


.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.bred {border: 2px solid red;}
.bgreen {border: 2px solid green;}
.bblue {border: 2px solid blue;}
.bpink {border: 2px solid rgb(255, 88, 116);}
.borange {border: 2px solid orange;}

/* npx live-server --host=0.0.0.0 */